<!--ALerts-->
{% extends 'webpages/base.html' %}

{% load static %}
{% block content %}

    <!-- Hero Start -->
    <div class="hero-wrap hero-bread" style="background-image: url('{% static "images/alert-bg.jpg" %}');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs">
                <span>Reach out to donors and partners who can help your food bank today.</span>
            </p>
              {% if alert %}
                  <p class="mb-0 bread">Update Alert for Assistance</p>
              {% else %}
                  <p class="mb-0 bread">Submit an Alert for Assistance</p>
              {% endif %}
            
          </div>
        </div>
      </div>
    </div>
    <!-- Hero End -->

    <section class="ftco-section testimony-section">
      <div class="container">
        <div class="row mb-5 pb-3">
          <div class="col-md-6 offset-md-3">
              {% if alert %}
                  <h2 class="mb-4">Update Alert</h2>
              {% else %}
                  <h2 class="mb-4">Please Submit your Request</h2>
                  <p>If your food bank is in need of specific items or resources, submit a detailed alert to notify donors. FoodConnect empowers you to connect with supporters quickly and efficiently, ensuring no one in your community goes without.</p>
              {% endif %}
              
          
              <form method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">
                     {% if alert %} 
                         Update Alert 
                     {% else %} 
                         Submit Alert 
                     {% endif %}
                </button>
              </form>
          </div>
        </div>
      </div>
    </section>


{% endblock %}