{% extends 'webpages/base.html' %}

{% load static %}
{% block content %}

    <!-- Hero Start -->
    <div class="hero-wrap hero-bread" style="background-image: url('{% static "images/contact-hero.jpg" %}');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">Contact US</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- Hero End -->

    <!-- Form Section Start -->
    <section class="ftco-section testimony-section">
      <div class="container">
        <div class="row mb-5 pb-3">
          <div class="col-md-6 offset-md-3">
              <h2 class="mb-4">Contact Us</h2>
              <p>We’re here to help! Reach out with your questions, feedback, or to learn more about how you can get involved with FoodConnect.</p>
              <form method="POST" action="{% url 'contact_us' %}">
                {% csrf_token %}
                  <div class="mb-3">
                      <input type="text" class="form-control" name="name" placeholder="Enter You Name">
                  </div>
                  <div class="mb-3">
                      <input type="text" class="form-control" name="email" placeholder="Enter Your Email">
                  </div>
                  <div class="mb-3">
                      <input type="text" class="form-control" name="subject" placeholder="Enter Subject">
                  </div>
                  <div class="mb-3">
                      <textarea name="message" id="" cols="30" rows="7" class="form-control" placeholder="Enter Message"></textarea>
                  </div>
                  <br>
                  <button type="submit" class="btn btn-primary">Send Message</button>
              </form>
          </div>
        </div>
      </div>
    </section>
    <!-- Form Section End -->
{% endblock %}