{% extends 'webpages/base.html' %}

{% load static %}
{% block content %}
    <section id="home-section" class="hero">
        <div class="home-slider owl-carousel">
	      <div class="slider-item" style="background-image: url('{% static "images/index-bg-3.jpg" %}'); background-position: center; background-size: cover;">
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
	            <div class="col-md-12 ftco-animate text-center">
	              <h1 class="mb-2">Reducing Food Waste</h1>
	              <h2 class="subheading mb-4">Connecting surplus food to those in need sustainably</h2>
	              <p><a href="{% url 'donations' %}" class="btn btn-primary">View Donations</a></p>
	            </div>
	          </div>
	        </div>
	      </div>

	      <div class="slider-item" style="background-image: url('{% static "images/bg_2.jpg" %}');">
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
	            <div class="col-sm-12 ftco-animate text-center">
	              <h1 class="mb-2">Fresh &amp; Sustainable Foods</h1>
	              <h2 class="subheading mb-4">Bridging surplus to those in need with care</h2>
	              <p><a href="{% url 'donations' %}" class="btn btn-primary">View Donations</a></p>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row no-gutters ftco-services">
                <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
                            <span class="flaticon-box"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Free Redistribution</h3>
                            <span>No cost for surplus donations</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
            		        <span class="flaticon-diet"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Always Fresh</h3>
                            <span>Carefully packaged for you</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
            		        <span class="flaticon-award"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Superior Quality</h3>
                            <span>Ensuring excellence every time</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
            		        <span class="flaticon-customer-service"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Community Focused</h3>
                            <span>Building connections that matter</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-category ftco-no-pt">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-6 order-md-last align-items-stretch d-flex">
								<div class="category-wrap-2 ftco-animate img align-self-stretch d-flex" style="background-image: url('{% static "images/category.jpg" %}');">
									<div class="text text-center">
										<h2>Redistribute Goodness</h2>
										<p>Empowering communities to share fresh and nutritious food responsibly</p>
										<p><a href="{% url 'donations' %}" class="btn btn-primary">Explore More</a></p>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url('{% static "images/category-1.jpg" %}');">
									<div class="text px-3 py-1">
										<h2 class="mb-0"><a href="{% url 'donations' %}?category_id=1">Fresh Produce</a></h2>
									</div>
								</div>
								<div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url('{% static "images/frozen.jpg" %}');">
									<div class="text px-3 py-1">
										<h2 class="mb-0"><a href="{% url 'donations' %}?category_id=2">Frozen</a></h2>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url('{% static "images/canned-food.jpg" %}'); background-position: center right; background-size: cover;">
							<div class="text px-3 py-1">
								<h2 class="mb-0"><a href="{% url 'donations' %}?category_id=5">Canned</a></h2>
							</div>		
						</div>
						<div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url('{% static "images/dairy.jpg" %}');">
							<div class="text px-3 py-1">
								<h2 class="mb-0"><a href="{% url 'donations' %}?category_id=4">Dairy</a></h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

    <section class="ftco-section">
    	<div class="container">
            <div class="row justify-content-center mb-3 pb-3">
                <div class="col-md-12 heading-section text-center ftco-animate">
          	        <span class="subheading">Featured Donations</span>
                    <h2 class="mb-4">Our Offerings</h2>
                    <p>Connecting communities with fresh, surplus food to reduce waste and foster sustainability.</p>
                </div>
            </div>
    	</div>
    	<div class="container">
            {% if products %}
    		    <div class="row">
                    {% for product in products %}
    			        <div class="col-md-6 col-lg-3 ftco-animate">
    				        <div class="product">
    					        <a href="{% url 'product_detail' product.id %}" class="img-prod">
                                    {% if product.image %}
                                        <img class="img-fluid fixed-size" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    {% else %}
                                        <img class="img-fluid fixed-size" src="{% static 'images/default-foodbox.jpg' %}" alt="Default Image">
                                    {% endif %}
    						        <span class="status">New</span>
    						        <div class="overlay"></div>
    					        </a>
    					        <div class="text py-3 pb-4 px-3 text-center">
    						        <h3><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></h3>
                                    <p><a href="{% url 'product_detail' product.id %}">by {{ product.donated_by }}</a></p>
    							    <a href="{% url 'product_detail' product.id %}"><button class="btn btn-primary">View</button></a>
    					        </div>
    				        </div>
    			        </div>
                    {% endfor %}
    		    </div>
            {% endif %}
    	</div>
    </section>
{% endblock %}