<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="{% url 'landing' %}">FoodConnect</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="{% url 'landing' %}" class="nav-link">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contact_us' %}">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'donations' %}">Donations</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url 'donations' %}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">DonationsX</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="{% url 'donations' %}">All Donations</a>
                            <a class="dropdown-item" href="{% url 'donor_donations' %}">Your Donations</a>
                            <a class="dropdown-item" href="{% url 'donor_reservations' %}">Reservations for Your Donations</a>
                    </div>
                </li>

                <li class="nav-item"><a class="nav-link" href="{% url 'analytics' %}">Analytics</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'alert_list' %}">Alerts</a></li>

                {% if user.is_authenticated %}
                                    <li class="nav-item"><a class="nav-link" href="{% url 'view_reservations' %}">Reservations</a></li>

                    <li class="nav-item"><a class="nav-link" href="{% url 'user_profile' %}">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sign Up</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="{% url 'restaurant_signup' %}">Restaurant</a>
                            <a class="dropdown-item" href="{% url 'foodbank_signup' %}">Food Bank</a>
                            <a class="dropdown-item" href="{% url 'individual_signup' %}">Individual</a>
                        </div>
                    </li>
                {% endif %}

                <!-- Cart  -->
                <!-- <li class="nav-item cta cta-colored">
                    <a class="nav-link"><span class="icon-shopping_cart"></span>[0]</a>
                </li> -->
            
                <!-- Alerts Button -->
                <li class="nav-item">
                    {% if request.user.is_authenticated and request.user.foodbank %}
                        <a href="{% url 'alerts' %}" class="nav-link btn btn-danger text-white m-2">Add Alert +</a>
                     {% endif %}

                    {% if request.user.is_authenticated and not request.user.foodbank %}
                        <a href="{% url 'create-donation' %}" class="nav-link btn btn-danger text-white m-2">Add Donation</a>
                     {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
