
{% extends 'webpages/base.html' %}

{% load static %}
{% block content %}

    <!-- Hero Start -->
    <div class="hero-wrap hero-bread" style="background-image: url('{% static "images/bg_1.jpg" %}');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'landing' %}">Home</a></span></p>
            <h1 class="mb-0 bread">Password Reset</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- Hero End -->

    <section class="ftco-section testimony-section">
      <div class="container">
        <div class="row mb-5 pb-3">
          <div class="col-md-6 offset-md-3">
            <h2 class="mb-4">Password Reset Sent</h2>
              <p>We've emailed you instructions for resetting your password. If you don't receive an email, please check your spam folder or try again.</p>
          </div>
        </div>
      </div>
    </section>


{% endblock %}