{% extends 'webpages/base.html' %}

{% load static %}
{% block content %}

    <!-- Hero Start -->
    <div class="hero-wrap hero-bread" style="background-color:#82AE46">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs">
                <span>Together, We Can Reduce Food Waste and Help Communities in Need.</span>
            </p>
            <p class="mb-0 bread">Join FoodConnect Today</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Hero End -->

    <section class="ftco-section testimony-section">
      <div class="container">
        <div class="row mb-5 pb-3">
          <div class="col-md-6 offset-md-3">
            <h2 class="mb-4">Restaurant Signup</h2>

          <form method="POST" action="{% url 'restaurant_signup' %}" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.as_p }}
              <br>
              <button type="Submit" class="btn btn-primary">Register</button>
          </form>


          </div>
        </div>
      </div>
    </section>


{% endblock %}