{% extends 'webpages/base.html' %}

{% load static %}
{% block content %}

    <div class="hero-wrap hero-bread" style="background-image: url('{% static "images/bg_1.jpg" %}');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">Your Donations</h1>
          </div>
        </div>
      </div>
    </div>
 <section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
                        {% if donations %}
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
                                  <th>&nbsp;</th>
                                  <th>Product</th>
                                  <th>Quantity</th>
                                  <th>Weight</th>
                                  <th>Unit</th>
                                  <th>Expiry Date</th>
                                  <th>Actions</th>
						      </tr>
						    </thead>
						    <tbody>
                            {% for donation in donations %}
						      <tr class="text-center">
                                <td class="image-prod">
                                    <div class="img" style="background-image:url(
                                        {% if donation.image %}
                                            {{ donation.image.url }}
                                        {% else %}
                                            {% static 'images/default-foodbox.jpg' %}
                                        {% endif %}
                                    );"></div>
                                </td>
                                  <td class="product-name">
                                      <h3>{{ donation.name }}</h3>
                                      <p>{{ donation.description|truncatechars:50 }}</p>
                                  </td>
                                  <td>{{ donation.quantity }}</td>
                                  <td>{{ donation.weight }}</td>
                                  <td>{{ donation.unit }}</td>
                                  <td>{{ donation.expiry_date|date:"F j, Y" }}</td>
                                  <td>
                                     <a href="{% url 'update-donation' donation.id %}" class="btn btn-warning">
                                        Update
                                     </a>
                                      <a href="{% url 'delete-donation' donation.id %}" 
                                        class="btn btn-danger" 
                                        onclick="return confirm('Are you sure you want to delete Donation?');"
                                     >
                                         Delete
                                     </a>
                                  </td>
						      </tr>
                            {% endfor %}
						    </tbody>
						  </table>
                        {% else %}
                            <p>No Donation Found.</p>
                        {% endif %}
					  </div>
    			</div>
    		</div>
			</div>
		</section>

{% endblock %}