{% extends 'webpages/base.html' %}

{% load static %}
{% block content %}

    <div class="hero-wrap hero-bread" style="background-image: url('{% static "images/bg_1.jpg" %}');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">Reserve your {{ product.name }}</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-6 mb-5 ftco-animate">
    				<a href="images/product-1.jpg" class="image-popup">
                        {% if product.image %}
                            <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        {% else %}
                            <img class="img-fluid" src="{% static 'images/default-foodbox.jpg' %}" alt="Default Image">
                        {% endif %}
                    </a>
    			</div>
    			<div class="col-lg-6 product-details pl-md-5 ftco-animate">
    				<h3>{{ product.name }}</h3>
    				<div class="rating d-flex">
							<p class="text-left mr-4">
								<a href="#" class="mr-2">5.0</a>
								<a href="#"><span class="ion-ios-star-outline"></span></a>
								<a href="#"><span class="ion-ios-star-outline"></span></a>
								<a href="#"><span class="ion-ios-star-outline"></span></a>
								<a href="#"><span class="ion-ios-star-outline"></span></a>
								<a href="#"><span class="ion-ios-star-outline"></span></a>
							</p>
{#							<p class="text-left mr-4">#}
{#								<a href="#" class="mr-2" style="color: #000;">100 <span style="color: #bbb;">Rating</span></a>#}
{#							</p>#}
							<!--
							<p class="text-left">
								<a href="#" class="mr-2" style="color: #000;">{{ product.amount_donated }}<span style="color: #bbb;">Donated</span></a>
							</p>
                            -->
                    </div>
    				<p>{{ product.description }}</p>
                    <p>Expiring on: {{ product.expiry_date }}</p>
	          		<p>{{ product.quantity }} available</p>
                    <div class="row mt-4">

                        <div class="w-100"></div>
                        <div class="input-group col-md-6 d-flex mb-3">
	             	        <span class="input-group-btn mr-2">
	                	        <button type="button" class="quantity-left-minus btn"  data-type="minus" data-field="">
                                    <i class="ion-ios-remove"></i>
	                	        </button>
	            		    </span>
	             	        <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="{{ product.quantity }}" readonly>
	             	        <span class="input-group-btn ml-2">
	                	        <button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
	                                <i class="ion-ios-add"></i>
	                             </button>
	             	        </span>
	          	        </div>
	          	        <div class="w-100"></div>
          	        </div>
          	        <p>
                         <a id="placeOrderBtn" href="#" class="btn btn-primary btn-lg py-3 px-5">Reserve</a>
                    </p>
                    </div>

                    <form method="POST" action="{% url 'place_order' %}">
                        {% csrf_token %}
                        <input type="hidden" name="quantity" id="quantityInput">
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="confirmationModalLabel">Confirm Reservation</h5>
                                    <button type="button" class="close" id="closeBtn" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to make the reservation?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" id="cancelOrderBtn">No</button>
                                    <button type="submit" class="btn btn-primary">Yes</button>
                                </div>
                            </div>
                        </div>
                   </div>
                </form>
    		</div>
    	</div>
    </section>

    {% if related_products %}
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center mb-3 pb-3">
                    <div class="col-md-12 heading-section text-center ftco-animate">
                        <span class="subheading">Donations</span>
                        <h2 class="mb-4">Related Donations</h2>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    {% for related_product in related_products %}
                        <div class="col-md-6 col-lg-3 ftco-animate">
                            <div class="product">
                                <a href="{% url 'product_detail' related_product.id %}" class="img-prod">
                                    <!--<img class="img-fluid" src="{{ related_product.image }}" alt="{{ related_product.name }}">-->
                                    {% if related_product.image %}
	                                    <img class="img-fluid fixed-size" src="{{ related_product.image.url }}" alt="{{ related_product.name }}">
                                    {% else %}
	                                    <img class="img-fluid fixed-size" src="{% static 'images/default-foodbox.jpg' %}" alt="Default Image">
                                    {% endif %}
                                    <div class="overlay"></div>
                                </a>
                                <div class="text py-3 pb-4 px-3 text-center">
                                <h3><a href="{% url 'product_detail' related_product.id %}">{{ related_product.name }}</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price">
                                            <span>{{ related_product.quantity }} {{ related_product.unit }} available</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="bottom-area d-flex px-3">
                                    <div class="m-auto d-flex">
                                        <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                            <span><i class="ion-ios-menu"></i></span>
                                        </a>
                                        <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                            <span><i class="ion-ios-cart"></i></span>
                                        </a>
                                        <a href="#" class="heart d-flex justify-content-center align-items-center">
                                            <span><i class="ion-ios-heart"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const placeOrderBtn = document.getElementById("placeOrderBtn");
        const cancelOrderBtn = document.getElementById("cancelOrderBtn");
        const closeBtn = document.getElementById("closeBtn");
        const quantityHiddenInput = document.getElementById("quantityInput");
        const quantityInput = document.getElementById("quantity");
        const minusButton = document.querySelector(".quantity-left-minus");
        const plusButton = document.querySelector(".quantity-right-plus");
        const minQuantity = parseInt(quantityInput.min);
        const maxQuantity = parseInt(quantityInput.max);

    minusButton.addEventListener("click", function () {
        let currentQuantity = parseInt(quantityInput.value);
        if (currentQuantity > minQuantity) {
            quantityInput.value = currentQuantity - 1;
            quantityHiddenInput.value = quantityInput.value;
        }
    });

    plusButton.addEventListener("click", function () {
        let currentQuantity = parseInt(quantityInput.value);
        if (currentQuantity < maxQuantity) {
            quantityInput.value = currentQuantity + 1;
            quantityHiddenInput.value = quantityInput.value;
        }
    });

        placeOrderBtn.addEventListener("click", function () {
            $('#confirmationModal').modal('show');
        });
        cancelOrderBtn.addEventListener("click", function () {
                $('#confirmationModal').modal('hide');
            });
         closeBtn.addEventListener("click", function () {
                $('#confirmationModal').modal('hide');
            });
            quantityHiddenInput.value = quantityInput.value;


    });
</script>


{% endblock %}